* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
    text-decoration: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
  /* height: 600vh; */
}
.Header {
    border-bottom: 2px solid gray;
    background-color: rgba(255, 255, 255);
    display: flex;
    gap: 0.8rem;
    padding: 1rem;
    align-items: center;
}
.display-body {
    /* display: none; */
 }
 .transition {
    transition: all 2s linear;
    /* transform: translateY(360%); */
 }
 /* ----- Loader ---------------- */
 #wifi-loader {
    --background: #62abff;
    --front-color: #4f29f0;
    --back-color: #c3c8de;
    --text-color: #414856;
    background: black;
    width: 100vw;
    height: auto;
    position: absolute;
    top: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader-container {
    background: #07182E;
    height: 98vh;
    width: 100vw;
  }
  #wifi-loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #wifi-loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
  }
  
  #wifi-loader svg circle.back {
    stroke: var(--back-color);
  }
  
  #wifi-loader svg circle.front {
    stroke: var(--front-color);
  }
  
  #wifi-loader svg.circle-outer {
    height: 86px;
    width: 86px;
  }
  
  #wifi-loader svg.circle-outer circle {
    stroke-dasharray: 62.75 188.25;
  }
  
  #wifi-loader svg.circle-outer circle.back {
    animation: circle-outer135 1.8s ease infinite 0.3s;
  }
  
  #wifi-loader svg.circle-outer circle.front {
    animation: circle-outer135 1.8s ease infinite 0.15s;
  }
  
  #wifi-loader svg.circle-middle {
    height: 60px;
    width: 60px;
  }
  
  #wifi-loader svg.circle-middle circle {
    stroke-dasharray: 42.5 127.5;
  }
  
  #wifi-loader svg.circle-middle circle.back {
    animation: circle-middle6123 1.8s ease infinite 0.25s;
  }
  
  #wifi-loader svg.circle-middle circle.front {
    animation: circle-middle6123 1.8s ease infinite 0.1s;
  }
  
  #wifi-loader svg.circle-inner {
    height: 34px;
    width: 34px;
  }
  
  #wifi-loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
  }
  
  #wifi-loader svg.circle-inner circle.back {
    animation: circle-inner162 1.8s ease infinite 0.2s;
  }
  
  #wifi-loader svg.circle-inner circle.front {
    animation: circle-inner162 1.8s ease infinite 0.05s;
  }
  
  #wifi-loader .text {
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  
  #wifi-loader .text::before, #wifi-loader .text::after {
    content: attr(data-text);
  }
  
  #wifi-loader .text::before {
    color: var(--text-color);
  }
  
  #wifi-loader .text::after {
    color: var(--front-color);
    animation: text-animation76 3.6s ease infinite;
    position: absolute;
    left: 0;
  }
  
  @keyframes circle-outer135 {
    0% {
      stroke-dashoffset: 25;
    }
  
    25% {
      stroke-dashoffset: 0;
    }
  
    65% {
      stroke-dashoffset: 301;
    }
  
    80% {
      stroke-dashoffset: 276;
    }
  
    100% {
      stroke-dashoffset: 276;
    }
  }
  
  @keyframes circle-middle6123 {
    0% {
      stroke-dashoffset: 17;
    }
  
    25% {
      stroke-dashoffset: 0;
    }
  
    65% {
      stroke-dashoffset: 204;
    }
  
    80% {
      stroke-dashoffset: 187;
    }
  
    100% {
      stroke-dashoffset: 187;
    }
  }
  
  @keyframes circle-inner162 {
    0% {
      stroke-dashoffset: 9;
    }
  
    25% {
      stroke-dashoffset: 0;
    }
  
    65% {
      stroke-dashoffset: 106;
    }
  
    80% {
      stroke-dashoffset: 97;
    }
  
    100% {
      stroke-dashoffset: 97;
    }
  }
  
  @keyframes text-animation76 {
    0% {
      clip-path: inset(0 100% 0 0);
    }
  
    50% {
      clip-path: inset(0);
    }
  
    100% {
      clip-path: inset(0 0 0 100%);
    }
  }
 /* ------- End ---------------- */
.Burger {
    position: relative;
    z-index: 1;
}
.logo h2 {
    /* width: 65%; */
    text-align: center;
    text-transform: uppercase;
}
#checkbox {
    display: none;
}
.close, .open {
    cursor: pointer;
}
.close {
    display: none;
}
#checkbox:checked ~ .open {
    display: none;
}
#checkbox:checked ~ .close {
    display: block;
}
#checkbox:checked ~ nav {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
nav {
    background: rgba(255, 255, 255);
    position: absolute;
    width: 1000%;
    left: -70%;
    top: 180%;
    /* height: 35vh; */
    visibility: hidden;
    padding: 2rem;
    line-height: 2rem;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .3s linear;
    box-shadow:  200px 200px 200px 200px rgba(17, 16, 16, 0.3),
    -0px -100px 100px 200px rgba(17, 16, 16, 0.3);
}
nav a {
  color: #07182E;
  font-size: 20px;
}
nav li {
    list-style-type: none;
}

.Back-color {
    background: rgb(245, 245, 245);
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.image {
    background-image: url(./img/images\ \(1\).jpeg);
    padding-bottom: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 90%;
}
.image h2 {
    text-align: center;
    text-transform: uppercase;
    color: red;
    padding-top: 6rem;
}
.Content {
    margin-top: 8rem;
}
.Content h1 {
    line-height: 2.6rem;
    text-align: center;
    width: 70%;
    margin: auto;
}
.Content p {
    color: #508D24;
    font-size: 18px;
    margin-top: 3rem;
    width: 90%;
    line-height: 1.6rem;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

.container-2 {
    line-height: 1.6rem;
    width: 85%;
    margin: auto;
    margin-top: 3rem;
    text-align: center;
}
.container-2 h2 {
    margin-top: 4rem;
    text-transform: uppercase;
}
.list ul {
    margin-left: 2rem;
    margin-top: 2rem;
    line-height: 2rem;
}
.list h2 {
    margin-top: 1rem;
    text-align: center;
}
.list p {
    margin-left: 1rem;
    margin-top: 2rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
}
.Animate {
    width: 90%;
    padding-bottom: 20rem;
    margin-bottom: 6rem;
    margin: 10px auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./img/payroll-specialist-640x230-orig-orig-1-orig_orig.jpg);
    animation: slide 10s infinite;
}

@keyframes slide {
    25% {
        background-image: url(./img/payroll-specialist-640x230-orig-orig-1-orig_orig.jpg);

    }
    50% {
        background-image: url(./img/images\ \(3\).jpeg);
      }

}

/* ------- About Section ------------ */
.About-us h2 {
  text-align: center;
  text-transform: uppercase;
  color: red;
}
.About-us p {
  line-height: 1.6rem;
  padding: 1rem;
  font-size: 18px;
}
/* -------- End --------------------- */
/* ----- Contact Page ------- */
.Apply {
  padding: 1rem;
  background: rgb(245, 245, 245);
  padding-bottom: 4rem;
}
.apply h2 {
  text-align: center;
  text-transform: uppercase;
  color: red;
  margin-top: 7rem;
  padding: 1rem;
}
.address {
  text-align: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.email-address {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}
.location i {
  line-height: 1.6rem;
}
.location {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.Contact-us {
  background: rgb(223, 223, 231);
  padding-bottom: 4rem;
}
.Login {
  margin-left: 1rem;
}
.formflex {
  display: flex;
  width: 100%;
}
.div, .div2 {
  width: 100%;
}
.formflex input {
  padding: 0.8rem;
  width: 90%;
  margin-top: 0.5rem;
}
.paragr {
  margin-top: 1.2rem;
}
.phone input {
  padding: 0.8rem;
}
 .input input {
  width: 80%;
  padding: 0.8rem;
  margin-top: 0.5rem;
}

.second-form {
  margin-left: 1rem;
  margin-top: 6rem;
}
.second-form .line1 input {
  padding: 0.8rem;
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form2-flex {
  display: flex;
  width: 100%;
}
.form2-flex input {
  padding: 0.8rem;
  width: 90%;
  margin-top: 0.5rem;
}
.city, .city2 {
  width: 100%;
}
.Submit {
  margin-top: 2rem;
  /* margin-left: 1rem; */
}
.Submit button {
  background: gray;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  padding: 1rem;
  width: 32%;
  border: none;
  border-radius: 10px;
  outline: none;
}
.Submit button:hover {
  background: red;
  transition: all .3s linear;
}
.Login h2 {
  color: red;
  text-transform: uppercase;
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 2rem;
}
.btn {
  background: #508D24;
  width: 8%;
  padding: 0.5rem;
  text-align: center;
  position: fixed;
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 15px;
  bottom: 0;
  cursor: pointer;
  right: 0;
}
.para, a.btn {
  color: red;
  font-size: 20px;
}
.para, a.btn:hover {
  background: red;
  color: black;
}